In [10]:
import pandas as pd
import numpy as np

# Describing a numeric Series.

In [4]:
s = pd.Series([1, 2, 3])
s.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

# Describing a categorical Series.

In [8]:
s = pd.Series(['a', 'a', 'b', 'c'])
s.describe()

count     4
unique    3
top       a
freq      2
dtype: object

# Describing a timestamp Series.

In [11]:
s = pd.Series([np.datetime64("2000-01-01"), np.datetime64("2010-01-01"), np.datetime64("2010-01-01")])
s.describe()

count                       3
unique                      2
top       2010-01-01 00:00:00
freq                        2
first     2000-01-01 00:00:00
last      2010-01-01 00:00:00
dtype: object

# Describing a DataFrame. By default only numeric fields are returned

In [17]:
df = pd.DataFrame({ 'object': ['a', 'b', 'c'], 'numeric': [1, 2, 3], 'categorical': pd.Categorical(['d','e','f'])})
df.describe()

       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

In [16]:
df.describe(include='all')

       categorical  numeric object
count            3      3.0      3
unique           3      NaN      3
top              f      NaN      b
freq             1      NaN      1
mean           NaN      2.0    NaN
std            NaN      1.0    NaN
min            NaN      1.0    NaN
25%            NaN      1.5    NaN
50%            NaN      2.0    NaN
75%            NaN      2.5    NaN
max            NaN      3.0    NaN

In [18]:
df.numeric.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
Name: numeric, dtype: float64

In [19]:
df.describe(include=[np.number])

       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

In [20]:
df.describe(include=[np.object])

       object
count       3
unique      3
top         b
freq        1

In [21]:
df.describe(include=['category'])

       categorical
count            3
unique           3
top              f
freq             1

In [22]:
df.describe(exclude=[np.number])

       categorical object
count            3      3
unique           3      3
top              f      b
freq             1      1

In [24]:
df.describe(exclude=[np.object])

       categorical  numeric
count            3      3.0
unique           3      NaN
top              f      NaN
freq             1      NaN
mean           NaN      2.0
std            NaN      1.0
min            NaN      1.0
25%            NaN      1.5
50%            NaN      2.0
75%            NaN      2.5
max            NaN      3.0